/*.article {*/
/*    height: 30vh;*/
/*}*/
/*.card {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    height: 20vh;*/
/*    width: 90vw;*/
/*}*/
/*.card-header {*/
/*    height: 35%;*/
/*    padding: 0;*/
/*}*/
/*.card-body {*/
/*    height: 70%;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*}*/
/*.card-footer {*/
/*    height: 25%;*/
/*    padding-top: .5rem;*/
/*}*/
/*.pagination {*/
/*    position: relative;*/
/*    z-index: 3;*/
/*}*/

header a{
    color: #2E2D3C;
}
article li{
    list-style: none;
    font-size: .7rem;
    display: inline;
    color: #777;
}
