.comment_avatar {
    width: 10vmin;
    height: 10vmin;
    position: relative;
    top: -1vmin;
}
.comment_user {
    color: deeppink;
    font: bold 1em italic;
}
article .comment{
    display: inline;
}
